* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --orange-color: #F58021;
    --dark-orange-color: #D26004;
    --dark-blue-color: #20113D;
    --green-color: #00A092;
}


/* --- header --- */

header {
    background-color: var(--orange-color);
}

.container {
    width: 100%;
    max-width: 1430px;
    margin: auto;
    padding: 30px 15px;
}

.container.header {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.wrapper-zoo-logo {
    margin-right: auto;
}

.zoo-logo {
    width: 96px;
    height: 50px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.header ul li {
    margin-right: 45px;
}

.header ul li a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--black-color);
    transition: .3s;

}

/* .header ul li a:hover {
    color: var(--green-color);
} */

.block-social-contacts {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;
}

/* 
.social-link:hover {
    scale: 1.2;
} */

.you-tube {
    background-color: #FF0000;
}

.instagram {
    background-color: #C13584;
}

.facebook {
    background-color: #3B5998;
}

.burger {
    display: none;
    width: 30px;
    height: 35px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.burger__line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 2px;
    background: var(--black-color);
    transform: translate(-50%, -50%);
}

.burger__line::before,
.burger__line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: inherit;
}

.burger__line::before {
    top: -12px;
}

.burger__line::after {
    top: 12px;
}

/* --- favorite --- */

#favorite {
    width: 100%;
    background: url("../../assets/images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container.favorite {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 125px 20px;
}

h1 {
    color: var(--green-color);
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-right: 40%;
    margin-bottom: 40px;
}

.favorite p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--black-color);
    margin-right: 70%;
    margin-bottom: 40px;

}

.favorite button {
    background-color: var(--orange-color);
    text-transform: uppercase;
    padding: 26px 34px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: none;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite button img {
    width: 24px;
    margin-left: 10px;
}

/* .favorite button:hover {
    background-color: var(--dark-orange-color);
} */



@media(max-width: 1200px) {

    .container.header {
        padding: 30px 100px;
    }

    #favorite {
        background-size: contain;
        background-position: bottom right;
    }

    .container.favorite {
        padding: 100px 40px;
    }

    h1 {
        margin-right: 10%;
        margin-bottom: 30px;
    }

    @media(max-width: 1100px) {

        .header ul {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            position: fixed;
            background-color: var(--dark-blue-color);
            padding: 120px 60px;
            color: var(--white-color);
            top: 0;
            left: 0;
            left: -160%;
        }

        .header ul li {
            margin-bottom: 25px;

        }

        .header ul li a {
            color: var(--white-color);
            font-size: 18px;
            text-align: center;
            font-weight: 600;

        }

        .block-social-contacts {
            display: none;
        }

        .burger {
            display: block;
        }




        @media(max-width: 760px) {

            .container.header {
                padding: 30px 20px;
            }

            #favorite {
                width: 100%;
                background-size: contain;
                background-position: bottom right;
            }

            .favorite p {
                margin-right: 40%;
                margin-bottom: 30px;
            }

            .container.favorite {
                padding: 45px 20px;
            }

            h1 {
                margin-right: auto;
                font-size: 72px;
                line-height: 88px;
            }


            @media(max-width: 460px) {

                #favorite {
                    width: 100%;
                    background-size: 150%;
                    background-position: bottom right;
                }

                .container.favorite {
                    padding: 20px 10px 210px 10px;
                }

                h1 {
                    font-size: 40px;
                    line-height: 49px;
                }

                .favorite p {
                    margin-right: auto;
                }


                .burger {
                    width: 22px;
                    height: 30px;
                }

                .burger__line {
                    width: 22px;
                }

                .burger__line::before,
                .burger__line::after {
                    width: 22px;
                }

                .favorite button {
                    padding: 12px 60px;
                }


            }
        }
    }

    @media (hover: hover) {
        .header ul li a:hover {
            color: var(--green-color);
        }

        .social-link:hover {
            scale: 1.2;
        }

        .favorite button:hover {
            background-color: var(--dark-orange-color);
        }
    }
}