* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --orange-color: #F58021;
    --dark-orange-color: #D26004;
    --dark-blue-color: #20113D;
    --green-color: #00A092;
}


/* --- header --- */

header {
    background-color: var(--orange-color);
}

.container {
    width: 100%;
    max-width: 1430px;
    margin: auto;
}

.wrapper.header {
    max-width: 1430px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px 15px;
}

.wrapper-zoo-logo {
    margin-right: auto;
}

.zoo-logo {
    width: 96px;
    height: 50px;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.header ul li {
    margin-right: 45px;
}

.header ul li a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--black-color);
    transition: .3s;

}

.block-social-contacts {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;
}

.you-tube {
    background-color: #FF0000;
}

.instagram {
    background-color: #C13584;
}

.facebook {
    background-color: #3B5998;
}

.burger {
    display: none;
    width: 30px;
    height: 35px;
    position: relative;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.burger__line {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 2px;
    background: var(--black-color);
    transform: translate(-50%, -50%);
}

.burger__line::before,
.burger__line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background: inherit;
}

.burger__line::before {
    top: -12px;
}

.burger__line::after {
    top: 12px;
}

/* --- favorite --- */

#favorite {
    width: 100%;
    background: url("../../assets/images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 125px 20px;
}

h1 {
    color: var(--green-color);
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-right: 40%;
    margin-bottom: 40px;
}

.favorite p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--black-color);
    margin-right: 70%;
    margin-bottom: 40px;

}

.orange-btn,
.glass-dark-btn,
.glass-btn {
    background-color: var(--orange-color);
    text-transform: uppercase;
    padding: 26px 34px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border: none;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.glass-dark-btn img,
.orange-btn>img,
.glass-btn>img {
    width: 24px;
    margin-left: 10px;
}

.glass-dark-btn img {
    transform: rotate(180deg);
}

/* --- welcome --- */

.container.welcome {
    padding-top: 150px;
    padding-bottom: 150px;
}

.block-welcome {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.welcome> :first-child {
    margin-bottom: 150px;
}

.content-wrapper {
    max-width: 40%;
    margin-top: 70px;
    padding-right: 15px;
}

.welcome> :last-child .content-wrapper {
    padding-right: 0;
    padding-left: 15px;
}

.content-wrapper h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: var(--green-color);
    text-shadow: 0px 0px 1px var(--black-color),
        0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}

.content-wrapper p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--black-color);
}

.block-welcome img {
    max-width: 60%;
}

.welcome-footer {
    background-color: var(--dark-blue-color);
}

.container.welcome-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #F58021;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.container.welcome-footer> :first-child {
    width: 65%;
}

.container.welcome-footer> :last-child {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-left: 15px;
}

.block-welcome-footer h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.block-welcome-footer p {
    width: 70%;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color);
}

.block-welcome-footer h4 {
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: var(--white-color);
    margin-bottom: 10px;
    margin-right: 130px;
}

.block-welcome-footer button {
    border: 1px solid var(--white-color);
    border-radius: 5px;
    background-color: var(--dark-blue-color);
    padding: 26px 10px;
    color: var(--white-color);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .3s;
    padding-right: 90px;
    overflow: hidden;
}


.block-welcome-footer button span {
    width: 75px;
    height: 75px;
    margin-left: 10px;
    background-color: #F58021;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    border-radius: 4px;
}

.block-welcome-footer button img {
    width: 24px;
}

/* --- meet --- */

#meet {
    overflow: hidden;
}

.container.meet {
    padding: 134px 20px 145px 20px;
}

.meet h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    margin: auto;
    color: var(--green-color);
    margin-bottom: 50px;
}

.meet p {
    width: 66%;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: var(--black-color);
    margin: auto;
    margin-bottom: 101px;
}

.wrapper-slider-arrows {
    display: flex;
    flex-direction: row;
    width: 176px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.slider-btn.right img {
    transform: rotate(180deg);
}

.slider-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-blue-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    background-color: inherit;
}

.wrapper-slider {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.slider__viewport {
    width: 100%;
}

.slider__track {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    column-gap: 37px;
    row-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform .35s ease;
    will-change: transform;
}


.slider__slide {
    width: 440px;
    height: auto;
    background-color: var(--dark-blue-color);
    padding-bottom: 40px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider__slide figure {
    position: relative;
}

.slider__slide figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 25px;
}

.slider__slide figure h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: var(--white-color);
    padding: 13px 16px;
    background-color: var(--dark-blue-color);
    transition: .3s;
    border-radius: 5px 0px;
    font-style: normal;
}

.slider__slide h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 10px;
}

.slider__slide p {
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 50px;
}

.glass-btn {
    background-color: inherit;
    color: var(--orange-color);
    margin: auto;
}

.glass-dark-btn {
    background-color: inherit;
    color: var(--dark-blue-color);
    border: 1px solid var(--dark-blue-color);
    margin: auto;
}

/* --- pay-feed --- */

#pay-feed {
    background-color: var(--dark-blue-color);
}

.container.pay-feed {
    padding: 95px 20px 90px 20px;

}

.pay-feed h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 108px;
}

.pay-feed-list {
    list-style: none;
    counter-reset: item;
    padding: 0;
    color: var(--white-color);
}

.pay-feed-list li {
    counter-increment: item;
    position: relative;
    padding-left: 40px;
    display: flex;
}

.pay-feed-list li::before {
    content: "0" counter(item);
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    color: var(--white-color);
    font-style: normal;
    font-size: 24px;
    line-height: 54%;
    font-weight: 400;
}

.block-pay-feed {
    width: 100%;
    border-top: 1px solid var(--white-color);
    display: flex;
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 112px;
    align-items: flex-start;
}

.block-pay-feed.make-donation {
    padding-top: 95px;
    padding-bottom: 98px;
}

.block-pay-feed>img {
    width: 41%;
    height: auto;
    margin-left: -40px;
}

.content-wrapper-pay {
    display: flex;
    flex-direction: column;
    width: 59%;
    padding: 20px 85px 0px 160px;
    justify-content: flex-start;
    align-items: flex-start;

}

.content-wrapper-pay>img {
    width: auto;
    height: 80px;
    margin-bottom: 30px;
}

.content-wrapper-pay h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: var(--white-color);
    margin-bottom: 50px;
}

.content-wrapper-pay p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color);
}

.content-wrapper-pay .orange-btn {
    margin-top: 50px;
}



@media(max-width: 1200px) {

    .wrapper.header {
        padding: 30px 100px;
    }

    #favorite {
        background-size: contain;
        background-position: bottom right;
    }

    .container {
        padding: 100px 100px;
    }

    .container.pay-feed {
        padding: 100px 40px;
    }

    h1 {
        margin-right: 10%;
        margin-bottom: 30px;
    }

    .block-welcome {
        width: 60%;
        flex-direction: column;
    }

    .block-welcome img {
        max-width: 100%;
    }

    .welcome> :first-child {
        flex-direction: column-reverse;
    }

    .welcome> :last-child {
        align-items: end;
        margin-left: auto;
    }

    .container.welcome,
    .container.meet {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container.meet {
        padding-bottom: 150px;
    }

    .content-wrapper {
        max-width: 88%;
        margin-top: 30px;
        margin-right: auto;
        padding: 0;
    }

    .welcome> :last-child .content-wrapper {
        padding: 0;
    }

    .content-wrapper h2,
    .container.meet h2 {
        margin-bottom: 30px;
    }

    .welcome> :first-child {
        margin-bottom: 50px;
    }

    .container.welcome-footer> :first-child {
        width: 55%;
    }

    .block-welcome-footer p {
        width: 100%;
    }

    .block-pay-feed {
        align-items: center;
        padding: 80px 0px 95px 0px;
    }

    .content-wrapper-pay {
        padding: 0px 0px 0px 20px;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .pay-feed-list> :last-child .block-pay-feed {
        align-items: flex-start;
    }

    .content-wrapper-pay h3,
    .wrapper-slider-arrows {
        margin-bottom: 30px;
    }

    .content-wrapper-pay .orange-btn {
        margin-top: 100px;
        margin-right: auto;
    }

    .meet p {
        width: 86%;
        margin-bottom: 100px;
    }

    .wrapper-slider {
        margin-bottom: 50px;
    }

    .wrapper-slider p {
        margin-bottom: 30px;
    }

    .slider__slide figure img {
        margin-bottom: 14px;
    }

    .slider__slide {
        padding-bottom: 35px;

    }


    @media(max-width: 1100px) {

        .header ul {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            position: fixed;
            background-color: var(--dark-blue-color);
            padding: 120px 60px;
            color: var(--white-color);
            top: 0;
            left: 0;
            left: -160%;
        }

        .header ul li {
            margin-bottom: 25px;

        }

        .header ul li a {
            color: var(--white-color);
            font-size: 18px;
            text-align: center;
            font-weight: 600;

        }

        .block-social-contacts {
            display: none;
        }

        .burger {
            display: block;
        }

        .block-welcome {
            width: 100%;
        }

        .container.welcome-footer {
            flex-direction: column;
        }

        .container.welcome-footer> :first-child {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }

        .container.welcome-footer> :last-child {
            width: 100%;
            padding-left: 0px;
            align-items: center;
        }

        .block-welcome-footer h4 {
            margin: auto;
            margin-bottom: 10px;
        }

        .block-pay-feed {
            flex-direction: column;
        }

        .block-pay-feed>img {
            width: 60%;
            margin-left: 0px;
            margin-bottom: 50px;
        }

        .content-wrapper-pay {
            padding: 0px;
            width: 100%;
        }

        .pay-feed-list> :last-child .block-pay-feed {
            align-items: center;
        }

        .content-wrapper-pay .orange-btn {
            margin: auto;
            margin-top: 50px;
        }


        @media(max-width: 760px) {

            .wrapper.header {
                padding: 30px 20px;
            }

            #favorite {
                width: 100%;
                background-size: contain;
                background-position: bottom right;
            }

            .favorite p {
                margin-right: 40%;
                margin-bottom: 30px;
            }

            .container {
                padding: 45px 20px;
            }

            h1 {
                margin-right: auto;
                font-size: 72px;
                line-height: 88px;
            }

            .content-wrapper {
                max-width: 100%;
            }

            .block-welcome-footer {
                padding: 0px 12px;
            }

            .container.pay-feed {
                padding: 80px 20px;
            }

            .block-pay-feed>img {
                width: calc(100% + 80px);
                margin-left: -40px;
            }

            .pay-feed h2 {
                text-align: center;
                margin: auto;
                margin-bottom: 56px;
            }

            .content-wrapper-pay {
                width: calc(100% + 40px);
                margin-left: -40px;
            }

            .block-pay-feed {
                padding: 66px 0px;
            }

            .pay-feed-list> :last-child .block-pay-feed {
                padding-bottom: 0px;
            }

            .wrapper-slider-arrows {
                display: none;
            }

            .slider__viewport {
                overflow-x: auto;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
            }

            .slider__track {
                display: flex;
                gap: 20px;
                transition: none;
                transform: none !important;
            }

            .slider__slide {
                flex: 0 0 calc(50% - 10px);
                width: auto !important;
                scroll-snap-align: start;
            }

            .container.meet {
                padding-bottom: 100px;
            }

            .container.meet h2 {
                text-align: center;
                max-width: 80%;
            }

            .meet p {
                width: 100%;
                margin-bottom: 50px;
            }

            .wrapper-slider h3 {
                padding: 0px 15px;
            }

            .wrapper-slider p {
                padding: 0px 15px;
                margin-bottom: 21px;
            }

            .slider__slide {
                padding-bottom: 11px;
            }


            @media(max-width: 460px) {

                #favorite {
                    width: 100%;
                    background-size: 150%;
                    background-position: bottom right;
                }

                .container {
                    padding: 20px 10px 210px 10px;
                }

                h1 {
                    font-size: 40px;
                    line-height: 49px;
                }

                .favorite p {
                    margin-right: auto;
                }


                .burger {
                    width: 22px;
                    height: 30px;
                }

                .burger__line {
                    width: 22px;
                }

                .burger__line::before,
                .burger__line::after {
                    width: 22px;
                }

                .orange-btn {
                    padding: 12px 60px;
                }

                .container.welcome {
                    padding: 50px 0px;
                }

                #welcome .content-wrapper {
                    padding: 0px 10px;
                }

                .content-wrapper h2 {
                    text-shadow: none;
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 32px;
                }

                .block-welcome-footer h3 {
                    font-size: 26px;
                    line-height: 32px;
                }

                .block-welcome-footer {
                    padding-right: 0px;
                }

                .block-welcome-footer button {
                    padding: 13px 80px 13px 18px;
                    font-size: 16px;
                }

                .block-welcome-footer button span {
                    width: 55px;
                    height: 46px;
                    margin-left: 0px;
                }

                .container.pay-feed {
                    padding: 20px 10px 50px 10px;
                }

                .container.meet {
                    padding: 50px 10px;
                }

                .pay-feed h2 {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 32px;
                }

                .block-pay-feed {
                    padding: 48px 0px;
                }

                .block-pay-feed>img {
                    width: calc(100% + 60px);
                    margin-left: -40px;
                }

                .content-wrapper-pay h3 {
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 130%;
                }

                .slider__slide {
                    flex: 0 0 100%;
                    width: 50% !important;
                    scroll-snap-align: start;
                }

                .container.meet h2 {
                    max-width: 100%;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 32px;
                }

                .meet p {
                    width: 100%;
                    margin-bottom: 50px;
                    font-size: 18px;
                    margin-bottom: 30px;
                }

                .wrapper-slider{
                    margin-bottom: 0px;
                }
                .wrapper-slider h3 {
                    padding: 0px 15px;
                    font-size: 26px;
                    line-height: 130%;
                }
                .wrapper-slider p {
                    margin: 5px 0px 21px;
                }

                .meet .glass-dark-btn{
                    display: none;
                }


            }
        }
    }


}

@media (hover: hover) {
    .header ul li a:hover {
        color: var(--green-color);
    }

    .social-link:hover {
        scale: 1.2;
    }

    .orange-btn:hover {
        background-color: var(--dark-orange-color);
    }

    .block-welcome-footer button:hover span {
        background-color: var(--dark-orange-color);
    }

    .slider-btn:hover {
        background-color: var(--dark-blue-color);
    }

    .slider-btn:hover img {
        filter: invert(1) brightness(2);
    }

    .glass-btn:hover {
        background-color: var(--orange-color);
        color: var(--white-color);
    }

    .glass-btn:hover img,
    .glass-dark-btn:hover img {
        transition: .3s;
        filter: brightness(0) invert(1);
    }

    .glass-dark-btn:hover {
        background-color: var(--dark-blue-color);
        color: var(--white-color);
    }

    .slider__slide:hover figure h3 {
        color: #ffffff62;
    }

}